<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Painel Admin</title>

<style>

body{
font-family:Arial;
background:#f4f6f9;
margin:0;
}

.topo{
background:#2c3e50;
color:white;
padding:20px;
font-size:22px;
}

.container{
padding:40px;
}

.card{
background:white;
padding:25px;
margin-bottom:20px;
width:200px;
border-radius:6px;
box-shadow:0px 2px 6px rgba(0,0,0,0.2);
}

.card a{
text-decoration:none;
color:#2c3e50;
font-weight:bold;
}

.cards{
display:flex;
gap:20px;
}

</style>

</head>

<body>

<div class="topo">
Painel Administrativo
</div>

<div class="container">

<div class="cards">

<div class="card">
<a href="/admin/produtos">Produtos</a>
</div>

<div class="card">
<a href="#">Pedidos</a>
</div>

<div class="card">
<a href="#">Clientes</a>
</div>

</div>

</div>

</body>

</html>