<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Produto</title>
</head>
<body>

    <h1>Cadastrar / Editar Produto</h1>

    <form th:action="@{/admin/produtos/salvar}" th:object="${produto}" method="post">

        <input type="hidden" th:field="*{id}">

        Nome:<br>
        <input type="text" th:field="*{nome}"><br><br>

        Descrição:<br>
        <input type="text" th:field="*{descricao}"><br><br>

        Preço:<br>
        <input type="number" step="0.01" th:field="*{preco}"><br><br>

        Estoque:<br>
        <input type="number" th:field="*{estoque}"><br><br>

        Ativo:<br>
        <input type="checkbox" th:field="*{ativo}"><br><br>

        <button type="submit">Salvar</button>

    </form>

</body>
</html>
